<html xmlns:th="https://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<h2>Upload batch categories</h2>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/processCSVFile">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>
	
	<h2>Upload batch AND delete old data</h2>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/refreshAndProcessCSVFile">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload and Refresh" /></td></tr>
			</table>
		</form>
	</div>	
	
	<h2>Allocate a parent</h2>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/allocateParent">
			<table>
				<tr><td>Category</td><td><input type="text" name="category" /></td></tr>
				<tr><td>Description</td><td><input type="text" name="description" /></td></tr>
				<tr><td>Parent</td><td><input type="text" name="parent" /></td></tr>
				<tr><td></td><td><input type="submit" value="Allocate" /></td></tr>
			</table>
		</form>
	</div>
	
	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>
	
	
	<h2>Uncategorised references</h2>
	<table style="width:100%">
    <thead>
    <style>
	table, th, td {
	  border: 1px solid black;
	}
	</style>
        <tr>
            <th> Category </th>
            <th> Description </th>
            <th> Parent : Family </th>
        </tr>
    </thead>
    <tbody>

        <tr th:each="category : ${unCatCategories}">
            <td><span th:text="${category.category}"> Category </span></td>
            <td><span th:text="${category.description}"> Description </span></td>
            <td><span th:text="${category.parent}"> Parent : Family  </span></td>
        </tr>
    </tbody>
</table>

	<h2>Categories</h2>
	<table style="width:100%">
    <thead>
    <style>
	table, th, td {
	  border: 1px solid black;
	}
	</style>
        <tr>
            <th> Category </th>
            <th> Description </th>
            <th> Parent : Family </th>
        </tr>
    </thead>
    <tbody>

        <tr th:each="category : ${categories}">
            <td><span th:text="${category.category}"> Category </span></td>
            <td><span th:text="${category.description}"> Description </span></td>
            <td><span th:text="${category.parent}"> Parent : Family </span></td>
        </tr>
    </tbody>
</table>

</body>
</html>